<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.scit.tandanzi.vo.UserVO" alias="User" />
		<typeAlias type="com.scit.tandanzi.vo.SearchVO" alias="Search" />
		<typeAlias type="com.scit.tandanzi.vo.SlListVO" alias="SlList" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/SearchMapper.xml" />
		<mapper resource="mapper/ListMapper.xml" />
	</mappers>
</configuration>
